/* Search bar container */
.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #4e5054;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #333;
  }
  
  /* Search input */
  .search-bar input {
    border: none;
    padding: 10px;
    font-size: 16px;
    flex: 1;
  }

  .search-result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #4e5054;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
  }
  
  /* Search button */
  .search-bar button {
    background-color: #636964;
    color: rgb(208, 197, 197);
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Search button hover */
  .search-bar button:hover {
    background-color: #838a83;
  }